
*.suo
.vs/StackTask/v16/.suo
StackTask/bin/Debug/netcoreapp3.1/StackTask.dll
StackTask/bin/Debug/netcoreapp3.1/StackTask.pdb
StackTask/obj/Debug/netcoreapp3.1/StackTask.csprojAssemblyReference.cache
StackTask/obj/Debug/netcoreapp3.1/StackTask.dll
StackTask/obj/Debug/netcoreapp3.1/StackTask.pdb

